<div style="background: darkcyan;height: 45rem;">
<header>
  
</header>

<div class="chat">
    <div class="container">
        <div class="chat-content">
            <div class="card">
                <ng-container *ngFor="let msg of chatservice.chatMessages">
                <div class="owntext" *ngIf="chatservice.username == msg.user else mytext">
                    <div class="namediv">{{msg.user}}</div>
                    <div>{{msg.message}}</div>
                </div>
                <ng-template #mytext>
                    <div class="otherstext">
                        <div class="namediv">{{msg.user}}</div>
                        <div>{{msg.message}}</div>
                    </div>
                </ng-template>
                </ng-container>
            </div>
        </div>
        <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div style="justify-content: center;" class="chat-send row">
              
                <div class="col-5" id="input-message">
                    <input type="text" class="form-control" name="usermsg" id="msgdata" ngModel />
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>